html {
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
    font-family:  sans-serif;
    padding-top: 5rem;
    background-image: url("images/background_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main_text p {
   font-family: Fugaz One, Bebas Neue; 
   font-size: 2rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Roboto', serif;
}

/* Шапка сайта */
.header {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; /* шапка поверх всего */
    flex-wrap: wrap;
    position: fixed;
    justify-content: space-between;
    align-items: center; /* выравнивание элементов по центру flexbox*/
    padding: 0.6rem 1.25rem 0rem 0.6rem;
    box-sizing: border-box;
    border-bottom: 2px solid white;
    background-color: black;
}

.name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    height: 4rem;
    width: auto;
    display: block;
}

.name h1 {
    margin: 0;
    font-size: 2.8rem;
    font-family: Anton;
}

.pages {
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.pages a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease; 
}

.pages a:hover {
    color: rgb(245, 34, 34);
}

/* Секция о спортзале */

section.about {
    display: flex;
    left: 0;
    right: 0;
    justify-content:space-around;
    box-sizing: border-box;
    align-items: center;
    padding: 2rem 10rem 7rem 10rem;
    gap: 0rem;
    text-align: center;
}

.main_img {
    height: 30rem;
    width: auto;
    display: block;
    mask-image: radial-gradient(ellipse at center, black 45%, transparent 75%);
    -webkit-mask-image: radial-gradient(ellipse at center, black 45%, transparent 75%);
} 

/* Секция фотографий */
.gym_photos {
    padding-bottom: 6rem;
    padding-top: 1rem;
    background-color: rgb(34, 34, 34);
}

.gym_photos h2 {
    text-align: center;
}

.slider_container {
    max-width: 50rem;
    margin: 2rem auto;
    overflow: hidden;
    
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%;
    gap: 0.001rem;
}

.slide {
    width: 33.333%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem;
}

.slider_container input[type="radio"] {
    display: none;
}

/* выбор различных кнопок */
#slide1:checked ~ .slider .slides {
    /* сдвиг ленты slides */
    transform: translate(0%) 
}

#slide2:checked ~ .slider .slides {
    transform: translate(-33.333%) 
}

#slide3:checked ~ .slider .slides {
    transform: translate(-66.666%) 
}

/* точки переключения */ 
.dots {
    text-align: center;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.dot {
    display: inline-block; /* в ряд */
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    background-color: white;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    user-select: none;
    cursor: pointer; 
}

.dot:hover {
    transform: scale(1.1);
}

#slide1:checked ~ .slider .dots label[for="slide1"] {
    background-color: rgb(245, 34, 34);
    transform: scale(1.2);
}

#slide2:checked ~ .slider .dots label[for="slide2"] {
    background-color: rgb(245, 34, 34);
    transform: scale(1.2);
}

#slide3:checked ~ .slider .dots label[for="slide3"] {
    background-color: rgb(245, 34, 34);
    transform: scale(1.2);
}

/* Секция тренеров */
.trainers {
    padding: 5rem;
    color: black;
    padding-top: 1rem;
}

.trainers h2 {
    text-align: center;
    color: white;
}

.trainers_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    gap: 2rem;
    justify-content: center;
}

.trainer_card {
    background-color: rgb(198, 198, 198);
    border: 7px solid rgb(34, 34, 34);
    padding: 0rem 1rem;
    font-family: Bebas Neue;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.trainer_card img {
    width: 100%;
    height: auto;
    display: block;
}

.trainer_name {
    text-align: center;
    font-family: 'Roboto', serif;;
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 5px solid rgb(34, 34, 34);
}

.trainer_status {
    text-align: center;
}

/* Подвал */

.footer {
    background-color: rgb(34, 34, 34);
    padding-top: 1rem;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0 2rem;
    gap: 8rem;
}

.footer_col {
    display: flex;
    flex-direction: column;
}

.footer_col p {
    margin: 0;
}

.footer_bottom {
    padding: 2rem 0 0.5rem 0;
    text-align: center;
    font-size: 0.9rem;
}

/* Секция расписания */
.schedule h2 {
    text-align: center;
}

.schedule {
    width: 100%;
    background-color: rgb(34, 34, 34);
}

.table_wrapper {
    width: 100%;
    color: white;
    padding: 1rem 2rem;
    overflow-x: auto;
    box-sizing: border-box;
    justify-content: center;
}

.schedule_table {
    width: 100%;
    border-collapse: collapse;
}

.schedule_table th,
.schedule_table td {
    padding: 0.8rem 0.5rem;
    text-align: center;
    border: 2px solid rgba(115, 115, 115, 0.43);
    font-size: 0.9rem;
    word-wrap: break-word;  /* Перенос длинных слов */
    vertical-align: middle;
}

.schedule_table thead th {
    background-color: rgb(245, 34, 34);
    font-family: 'Anton', sans-serif;
    color: white;
}

.schedule_table .time {
    background-color: rgba(255, 255, 255, 0.05);
    font-weight: bold;
    color: rgb(245, 34, 34);
    white-space: nowrap;  /* ← Чтобы время не переносилось */
}

.schedule_table tbody tr:hover {
    background-color: rgba(245, 34, 34, 0.15);
}

/* Адаптивность */

@media (max-width: 768px) { /* планшет */
    html {font-size: 14px;}
    body {padding-top: 6rem;}
    .pages {
        justify-content: space-evenly;
    }

    /* Секция "О нас"*/
    section.about {
        flex-direction: column;
        text-align: center;
        padding: 1rem 3rem 0rem 3rem;
    }

    .main_img {
        height: 18rem;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 480px) { /* телефон */
    html {font-size: 12px;}
    /* Секция "О нас" */
    section.about {
        flex-direction: column;
        text-align: center;
        padding: 1rem 3rem 0rem 3rem;
    }
    
    .main_text p {
        font-size: 1.5rem;
        padding: 0rem 1rem;
    }
    h2 {
        font-size: 2rem;
    }

    .gym_photos {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .slider_container input[type="radio"] {
        display: none;
    }

    .dot {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
    }

    .slide img {
        height: 15rem;
    }

    .footer_content {
        gap: 6rem;
    }
}

@media (max-width: 360px) { /* маленький телефон */
    html {font-size: 10px;}
}